// vars

$header-font: 'innocents_roughregular', sans-serif;
$small-header-font: 'Open Sans', sans-serif;
$body-font: 'Lato', sans-serif;

$bg-color: #151e31;
$spot-color: #ff7f50;
$text-color: #ffffff;
$link-color: #233c74;

// breakpoints
@mixin breakpoint($size) {
  @if $size == sm {
     @media (max-width: 599px) { @content ; }
   }
    @else if $size == md {
      @media (min-width: 600px) and (max-width: 1199px) { @content ; }
   }
     @else if $size == lg {
      @media (min-width: 1200px) { @content ; }
   }
    @else if $size == md_down {
      @media (max-width: 1199px) { @content ; }
    }
    @else if $size == md_up {
      @media (min-width: 600px) { @content ; }
    }
    @else {
      @media (max-width: $size + px) { @content; }
    }
}

// core

div#___gatsby {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $bg-color;
  margin: 0;
  font-family: $small-header-font;
}

p {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $spot-color;
  font-family: $header-font;
}

a {
  color: $link-color;
  text-decoration-skip: ink;
}

// header

header {
  font-family: $body-font;
  text-transform: uppercase;
  a {
    font-size: 2rem;
    color: white;
    span {
      color: $spot-color;
    }
  }
}

// home
.home {
  .intro {
    background-image: url('../../static/assets/header.jpg');
    height: 100vh;
    min-height: 90rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    filter: grayscale(.5);
    background-color: #192d58;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-family: "innocents_roughregular", serif;
      color: #F2F4F4;
      font-weight: normal;
      margin: 0;
      text-transform: none;
      letter-spacing: 0;
      font-size: 19rem;
      line-height: 22rem;
      text-align: center;
    }
    h2 {
      font-family: "innocents_roughregular", serif;
      color: #F2F4F4;
      font-weight: normal;
      margin: 0;
      text-transform: none;
      letter-spacing: 0;
      font-size: 7rem;
      line-height: 8rem;
      text-align: center;
    }
  }
  .rsvp-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-height: 80rem;
    background-color: white;
    background-image: url('../../static/assets/rsvp-background.jpg');
    background-size: cover;
    background-position: center; 
    position: relative;
    .overlay--white {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      z-index: 1;
    }
    .card {
      width: 100%;
      max-width: 800px;
      min-height: 50rem;
      margin: 0 auto;
      background: #fff;
      box-sizing: border-box;
      box-shadow: 0 4px 30px rgba(0,0,0,.3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      h1 {
        font-family: $small-header-font;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.1rem;
        font-size: 3rem;
        color: black;
        margin: 0;
      }
      h3 {
        font-family: $small-header-font;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .5rem;
        font-size: 1.3rem;
        color: black;
      }
      hr {
        width: 22px;
        height: 2px;
        background: #000;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 25px;
        border: none;
        border-radius: 2px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        margin: 0;
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      a {
        margin-top: 20px;
        display: inline-block;
        text-align: center;
        font-family: $small-header-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000;
        padding: 18px 30px;
        border-radius: 0;
        text-decoration: none;
        background: rgba(0,0,0,1);
        transition: all 200ms ease-in-out;
        width: 200px;
        color: #fff;
      }
    }
  }
  .about {
    background-color: $spot-color;
  }
  .timeline {
    h1 {
      font-family: "innocents_roughregular", serif;
      color: #F2F4F4;
      font-weight: normal;
      margin: 0;
      text-transform: none;
      letter-spacing: 0;
      font-size: 12rem;
      line-height: 24rem;
      text-align: center;
      margin: 6rem 0;
    }
    .tile-wrapper {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .tile {
        width: 20%;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 7rem;
        font-weight: bold;
        font-family: $small-header-font;
        text-transform: uppercase;
        background: rgba(255,255,255,0.025);
        background-size: cover;
        background-position: center;
        color: $spot-color;
        object-fit: cover;
        object-position: center;
        &.event {
          font-size: 1rem;
          background: rgba(255,255,255,0.025);
          color: white;
          text-align: center;
          strong {
            font-weight: 500;
            font-size: 1.5rem;
            opacity: .5;
          }
          q {
            font-size: 3rem;
            letter-spacing: .5rem;
            &:before,
            &:after {
              display: none;
            }
          }
          time {
            font-size: 1.25rem;
            font-style: italic;
            font-weight: 100;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70rem;
    .card {
      background-color: white;
      width: 41.4rem;
      height: 42rem;
      padding: 6rem;
      box-shadow: 0 4px 30px rgba(0,0,0,.3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $bg-color;
      .image {
        width: 20em;
        border-radius: 5rem;
        img {
          width: 100%;
          height: auto;
          border-radius: 35rem;
        }
      }
      strong {
        font-size: 3rem;
        margin: 2rem 0;
        text-transform: uppercase;
      }
      p {
        color: black;
        font-size: 1.48rem;
        line-height: 1.7;
        text-align: justify;
        margin: 0;
      }
      &.brandon {
        margin-right: 3rem;
        position: relative;
      }
    }
  }
  .hotel,
  .venue {
    display: none;
  }
  .rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100rem;
    form {
      max-width: 100rem;
      background: white;
      box-shadow: 0 4px 30px rgba(0,0,0,.3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-family: 'Open Sans', sans-serif;
      padding: 5rem;
      h1 {
        font-family: 'Open Sans', sans-serif;
        color: $bg-color;
        font-size: 5rem;
        margin: 0;
      }
      h6 {
        font-family: 'Open Sans', sans-serif;
        color: $bg-color;
        font-size: 2rem;
        margin: 0;
      }
    }
  }
  footer {
    background: white;
    padding: 0 15rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: $bg-color;
    a {
      text-decoration: none;
      border-bottom: .1rem solid transparent;
      transition: border .25s;
      padding-bottom: .5rem;
      &:hover {
        border-color: $bg-color;
      }
    }
    div {
      font-size: 6rem;
      font-family: $header-font;
    }
  }
}